* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

body {
    background: white;
    color: black;
    font-size: 16px;
    margin: 0px;
}

h1 {
    display: block;
    text-align: center;
}

.name {
    color: royalblue;
}

.Tomo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* .column-left {
    float: left;
    width: 50%;
    text-align:left;
    margin-left: 10%;
    height: 100%
}

.column-right {
    display: block;
    margin-right: 10%;
    height: 100%;
} */


ul {
    list-style-type:none;
    list-style:none;
    padding-left:0;
}

i {
    padding-right: 10px;
}   

#education-info tr td {
    padding: 10px;

}

.year h3 {
    text-indent: -.4em;
}

#contact i {
    vertical-align: middle;
}

.table table-dark tr    {
    border-spacing: 5px;
}

.company {
    background: grey;
    width: 100%;
}
